.sub-div {
    text-align: center;
}

.sub-btn {
    border: solid 1px;
    width: 150px;
    padding: 15px;
}

.contact-help {
    padding-top: 10px;
    font-size: 10px;
    font-style: italic;
    margin-bottom: 0;
}