.search-text {
  font-size: 16px;
  margin: 0px 8px 0px -1px;
  padding: 0 10px;
}

.flaticon-search {
  color: white;
}

.error-msg {
  color: white;
}

.input-msg {
  display: inline-grid;
  font-size: 16px;
}

.inner-border {
  border-style: dashed;
  padding: 20px;
  border-color: #fff;
}

.banner-carousel .slide-item:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
  content: "";
  border-top: 352px solid #800925;
  border-right: 210px solid transparent;
  border-left: 297px solid #800925;
  border-bottom: 322px solid #800925;
}